<!DOCTYPE html>
<html>
  <head>
    <title>Kashikari</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div id=header>
      <% if current_user -%>
        ようこそ、<%= current_user.nickname %>さん。 | <%= link_to 'logout', logout_path %>
      <% else -%>
        <%= link_to 'Twitterでログイン', 'auth/twitter' %>
        <%= link_to 'Facebookでログイン', 'auth/facebook' %>
        <%= link_to '仮のログイン', 'auth/stub' %>
      <% end -%>
    </div>

    <%= yield %>

  </body>
</html>
